#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75vw;
  gap: 20px;
  margin: 0 auto;
}

#img-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
}
