body {
	animation: sky 10s ease-in-out infinite;
}

.wheel {
	border: 2px solid;
	border-radius: 50%;
	margin-left: 250px;
	margin-top: 50px;
	position: absolute;
	height: 55vw;
	width: 55vw;
	max-width: 500px;
	max-height: 500px;
	animation-name: wheel;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.line {
	background-color: black;
	width: 50%;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: 0% 0%;
	animation: shadow 10s ease-in-out infinite;
}

.line:nth-of-type(2) {
	transform: rotate(60deg);
}

.line:nth-of-type(3) {
	transform: rotate(120deg);
}

.line:nth-of-type(4) {
	transform: rotate(180deg);
}

.line:nth-of-type(5) {
	transform: rotate(240deg);
}

.line:nth-of-type(6) {
	transform: rotate(300deg);
}

.cabin {
	background-color: red;
	width: 20%;
	height: 20%;
	position: absolute;
	border: 2px solid;
	transform-origin: 50% 0%;
	animation: cabins 10s ease-in-out infinite;
}

.cabin:nth-of-type(1) {
	right: -8.5%;
	top: 50%;
}

.cabin:nth-of-type(2) {
	right: 17%;
	top: 93.5%;
}

.cabin:nth-of-type(3) {
	right: 67%;
	top: 93.5%;
}

.cabin:nth-of-type(4) {
	left: -8.5%;
	top: 50%;
}

.cabin:nth-of-type(5) {
	left: 17%;
	top: 7%;
}

.cabin:nth-of-type(6) {
	right: 17%;
	top: 7%;
}

@keyframes wheel {
	0% {
		transform: rotate(0deg);
		border-color: black;
		filter: drop-shadow(0px 12px 7px rgba(0, 0, 0, 0.7))
	}


	50% {
		border-color: white;
		filter: drop-shadow(0px -12px 7px rgba(256, 256, 256, 0.4))
	}

	100% {
		transform: rotate(360deg);
		border-color: black;
		filter: drop-shadow(0px 12px 7px rgba(0, 0, 0, 0.7))
	}
}

@keyframes cabins {
	0% {
		transform: rotate(0deg);
		border-color: black;
	}

	25% {
		background-color: yellow;
	}

	50% {
		background-color: purple;
		border-color: white;
	}

	75% {
		background-color: yellow;
	}


	100% {
		transform: rotate(-360deg);
		border-color: black;
	}
}

@keyframes sky {
	0% {
		background-color: aliceblue;
	}

	50% {
		background-color: #444;
	}

	100% {
		background-color: aliceblue;
	}

}

@keyframes shadow {
	0% {
		background-color: black;
		border-color: black;
	}

	50% {
		background-color: white;
		border-color: white;
	}

	100% {
		background-color: black;
		border-color: black;
	}

}